#root {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    background-color: var(--color-bg-main);
}

#menu-box {
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#title-text {
    color: var(--color-primary);
    background-color: var(--color-bg-emphasis);
    padding: var(--padding-xl);

    border-radius: var(--radius-lg);
}

